/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #7CABA1;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem; /* Increased font size for visibility */
    font-weight: bold; /* Make the text bold */
    color: #ffffff; /* Set the text color to white */
    text-shadow: 1px 1px 2px #0A7B79; /* Add a subtle shadow with a color that matches the header */
    transition: transform 0.3s ease-in-out; /* Smooth transition for any transformation */
  }
  
  .logo:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
  }
  
  .navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
    flex-direction: column;
  }
  
  .navbar a:hover {
    color: #0A7B79;
  }

  .toggle-button {
    display: none; /* Hide toggle button on desktop by default */
    padding: 10px;
    margin: 5px;
    background: #0A7B79;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Header.css */
/* ... other styles ... */

.toggle-button {
    display: none; /* Hide toggle button on desktop by default */
    padding: 10px;
    margin: 5px;
    background: #0A7B79;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style when navbar is expanded */
  .navbar.expanded {
    display: block;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .toggle-button {
      display: block; /* Show toggle button on mobile */
    }
  
    .navbar {
      display: none; /* Hide navbar links by default on mobile */
    }
  
    .navbar.expanded {
      display: flex; /* Show navbar when expanded */
      flex-direction: column; /* Stack the links vertically */
      align-items: flex-start; /* Align links to the start */
    }
  
    .navbar a {
      padding: 10px; /* Add padding for touch targets */
      margin-top: 5px; /* Add space between links */
      display: block; /* Make each link a block to fill the width */
      width: 100%;
    }
  }
  
  